__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.ipynb_checkpoints
profile_default/
ipython_config.py

.python-version

__pypackages__/

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.DS_Store

.vscode
.idea/

setup.cfg
qc_archives/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
